*{
    margin: 0;
    padding: 0;
}

@include ns(preview){
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@include ns(icon){
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
    fill: currentColor;
}