@include ns(container) {
  padding: 5px 8px;
  border: 1px solid #cfd5de;
  border-radius: 3px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  color: #999;
  position: relative;

  @include ns("inner") {
    width: 100%;
    position: relative;
    &-input {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: 12px;
      }
    }

    &-dropdown {
      min-width: 120px;
      height: 200px;
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #cfd5de;
      position: absolute;
      left: 0;
      bottom: -10px;
      transform: translateY(100%);
      font-size: 12px;
      list-style: none;
      // padding: 10px 0;
      line-height: 30px;

      &-title{
        text-align: center;
      }
      &-item {
        cursor: pointer;
        padding: 0 10px;
        color: #000;
        &:hover {
          background-color: #cfd5de;
        }
      }
    }
  }

  @include ns(dropdown) {
  }
}
